<div class='row justify-content-center'>
  <h1 class='title'><%= city && city['name'] || 'Weather' %></h1>
</div>
<div class='row justify-content-center mt-5'>
  <%=
    form_for :weather, '/', method: :get do
      text_field :q, name: :q

      submit 'Submit'
    end
  %>
</div>
<% if city %>
  <div class='row justify-content-center mt-5'>
    <div class='city-temp'>
      <span>
        <%= city['main']['temp'].to_f.round %>
      </span>
    </div>
    <span class='city-temp__units' aria-label='°Fahrenheit' aria-disabled='true' role='button'>°F</span>
  </div>
<% end %>
